.CountryListItem {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  background: none;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.CountryListItem:focus {
  background-color: #eee;
}

.CountryListItem:last-child {
  margin-bottom: 0;
}