.CountryList,
.DetailedInfo {
  overflow: scroll;
  height: 100%;
  border: 2px solid steelblue;
  border-radius: 7px;
}

.CountryList {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.DetailedInfo {
  width: 40%;
  padding: 20px;
}

/*@media screen and (max-width: 1200px) {*/
/*  .CountryList {*/
/*    width: 35%;*/
/*  }*/

/*  .DetailedInfo {*/
/*    width: 45%;*/
/*  }*/
/*}*/