.DetailsMainBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.MainDetails {
  text-align: left;
}

.MainDetails > * {
  margin-bottom: 10px;
}

.AdditionalInfoArea {
  position: relative;
}

sup {
  position: absolute;
  top: -3px;
}

.CountryFlag {
  border: 1px solid #ddd;
}

.BordersInfo {
  text-align: left;
}

.BordersList {
  margin: 5px 0;
  padding-inline-start: 20px;
}

@media screen and (max-width: 1150px) {
  .DetailsMainBlock {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }

  .CountryFlag {
    margin-bottom: 20px;
    align-self: flex-start;
  }
}